/* estilos generales de la pagina periodico los simpsons*/
/* general*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: #7c858d;
  }
/* encabezado*/
header {
    background-color: rgb(43, 189, 194);
    text-align: center;
    text-decoration: darkblue;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
    border: .5px solid ;
    border-radius: 20px;
}
/* titulo del periodico*/
.newsletter {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    padding: 10px 20px;
    border: .5px solid ;
    border-radius: 20px;
    background-color: #d6d6d6;
  }
  .name {
    width: 100%;
    height: 14%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
    .name p {
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'Roboto', broadway;
    color: rgb(0, 0, 0);
    }
/* costo entre lineas*/
.info {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    }
    .info  p {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin-left: 16px;
        margin-right: 16px;
        color: grey;
      }
/* titulo*/
.title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    text-align: center;
  }
  .title h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 10px;
  }
/* contenido*/
.content {
    width: 100%;
    height: auto;
    display: flex;
  }
  .content .left-side {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content .left-side h2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 45px;
    margin: 10px 0;
    border-top: 2px solid;
    border-bottom:  2px solid;
    align-items: center;
  }

 /* parrafos*/ 
 .content .left-side .informacion {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  
  .content .left-side .informacion p {
    width: 48%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: justify;
  }
 /* Parte derecha*/
.content .right-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 2px solid;
  }
  
  .content .right-side img {
    width: 90%;
  }
  
  .content .right-side p {
    font-family: 'Roboto', Bowlby One SC;
    font-size: 20px;
  }
 /* pie de pagina*/
 footer {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
 }

 footer .pie{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px;
    border: .5px solid ;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 footer .pie p {
    font-family: 'Roboto', sans-serif;
    color: grey;
    text-align: center;
    align-items: center;
    margin: 20px;
}
  